
body {
  margin: 0;
  background-image:url("background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;;
}

/* Styles for the layout container */

.layout {
  min-height: 100vh;
  display: flex;
  padding: 20px;
}
/* Styles for the title inside the layout */
.heading {
  position: relative;
  top: 174px; /* Y position */
  left: 623px; /* X position */
  width: 517px; /* Width */
  height: 123px; /* Height */
  align-items: center;
}
.title {
  color: black;
  font-size: 80px;
  font-weight: bold;;
  overflow: hidden;
  white-space: pre-wrap;
  text-align: center;
}

.services {
  position: fixed;
  top: 401px; /* Y position */
  left: 160px; /* X position */
  width: 408px; /* Width */
  height: 434px; /* Height */
}

.services-title {
  color: black;
  font-size: 32px;
  font-weight: medium;
  overflow: hidden;
  white-space: pre-wrap;
}

.subtitle-1{
  color: black;
  font-size: 18px;
  font-weight: medium;
  overflow: hidden;
  white-space: pre-wrap;
}

.subtitle-2{
  color: black;
  font-size: 18px;
  font-weight: medium;
  overflow: hidden;
  white-space: pre-wrap;
}

.about-me {
  position: relative;
  top: 370px; /* Y position */
  right: -660px; /* X position */
  width: 408px; /* Width */
  height: 434px; /* Height */
}

.about-me-title {
  color: black;
  font-size: 32px;
  font-weight: medium;
  overflow: hidden;
  white-space: pre-wrap;
}